*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  width: 100%;
  height: 50px;
  background-color: #FF9A4B;
  margin-bottom: 50px;
}

.box-wrapper{
  display: flex;
  width: 960px;
  height: auto;
  margin: 0 auto;
}
.box-item{
  width: 300px;
  background-color: #dfdfdf;
  margin-right: 30px;
  padding: 10px;
  position: relative;
}
.box-item:last-child{
  margin-right: 0;
}
.box-tag{
  color: #fff;
  background-color: orange;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.12em 0;
}
.box-img{
  height: 150px;
  
}
.img1{
  background: url(./img/flow01.png) bottom center /cover;
}
.img2{
  background: url(./img/flow02.png) bottom center /cover;
}
.img3{
  background: url(./img/flow03.png) bottom center /cover;
}
.box-title{
  margin: 15px 0 5px;
  font-size: 16px;
}
.box-text{
  font-size: 14px;
}
.footer{
  width: 100%;
  height: 50px;
  background-color: #AAAAAA;
  margin-top: 50px;
}